In [3]:
import pandas as pd
import numpy as np

In [4]:
# [INTRODUCTION TO PANDAS]
print("An Introduction to Pandas")
print("Advantages of using Pandas are as follows : ")
print("[1] intrinsic data alignment")
print("[2] data operation functions")
print("[3] functions to handle missing data values")
print("[4] data standardization functions")
print("[5] data structures handling major use cases")

An Introduction to Pandas
Advantages of using Pandas are as follows :
[1] intrinsic data alignment
[2] data operation functions
[3] functions to handle missing data values
[4] data standardization functions
[5] data structures handling major use cases

In [5]:
# [POWERFUL FEATURES OF PANDAS]
print("Powerful Features of Pandas")
print("[1] powerful data structures.\n[2] fast and efficient data wrangling.\n[3] easy data aggregation and transformation.\n[4] tools for reading and writing data.\n[5] intelligent and automated data alignment.\n[6] high performance merging and joining of data sets.")

Powerful Features of Pandas
[1] powerful data structures.
[2] fast and efficient data wrangling.
[3] easy data aggregation and transformation.
[4] tools for reading and writing data.
[5] intelligent and automated data alignment.
[6] high performance merging and joining of data sets.

In [6]:
# [DATA STRUCTURES IN PANDAS]
print("Types of Data Structures used in Pandas")
# using a dictionary to store the different types of Data Structures in Pandas.
data_structures_in_pandas = {
    "[1] Series":"One dimensional labeled array. Supports multiple data types.",
    "[2] Data Frame":"Two dimensional labeled array. Supports multiple data types. Input can be a series. Input can be another dataframe",
    "[3] Panel": "Three dimensional labeled array. Supports multiple data types. Items -> axis 0. Major axis -> rows. Minor axis -> columns",
    "[4] Panel 4D (Experimental)":"Four dimensional labeled array. Supports multiple data types. Labels -> axis 0. Items -> axis -> 1. Major axis -> rows. Minor axis -> columns."
}
print("There are "+str(len(data_structures_in_pandas))+" key types of data structures in Pandas.")
print(data_structures_in_pandas)

Types of Data Structures used in Pandas
There are 4 key types of data structures in Pandas.
{'[1] Series': 'One dimensional labeled array. Supports multiple data types.', '[2] Data Frame': 'Two dimensional labeled array. Supports multiple data types. Input can be a series. Input can be another dataframe', '[3] Panel': 'Three dimensional labeled array. Supports multiple data types. Items -> axis 0. Major axis -> rows. Minor axis -> columns', '[4] Panel 4D (Experimental)': 'Four dimensional labeled array. Supports multiple data types. Labels -> axis 0. Items -> axis -> 1. Major axis -> rows. Minor axis -> columns.'}

In [7]:
# [READING FILES IN PANDAS]
print("Pandas can be used to read data from multiple file types.")
supported_file_types = ('read_excel_to_excel : xlxs','read_hdf_to_hdf : hdf','read_html_to_html : html')
print(supported_file_types)
print("and so on...")

Pandas can be used to read data from multiple file types.
('read_excel_to_excel : xlxs', 'read_hdf_to_hdf : hdf', 'read_html_to_html : html')
and so on...

In [8]:
# [INTRODUCTION TO SERIES IN PANDAS]
# [1] Series can be created with different data inputs.
# Data Types - Integer, String, Python Object, Floating Point
# [2] Data Inputs - ndarray, dict, scalar, list
# [3] Label (index)

In [9]:
# [HOW TO CREATE A SERIES]
# first step is to import pandas
# import pandas as pd
# import numpy as np

In [10]:
# [CREATING A SERIES]
first_series = pd.Series(list('abcdef'))

In [11]:
# [PRINTING THE SERIES]
print(first_series)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [12]:
# [CREATING A SERIES FROM AN ndarray]
np_animals = np.array(['cat','dog','leopard','goose','rabbit','tortoise','lemur','puma','python','alligator'])
series_animals = pd.Series(np_animals)

In [13]:
# [PRINTING THE ABOVE SERIES]
print(series_animals)

0          cat
1          dog
2      leopard
3        goose
4       rabbit
5     tortoise
6        lemur
7         puma
8       python
9    alligator
dtype: object

In [14]:
# [CREATING A SERIES WITH DICT DATA INPUT FOR FASTER OPERATION]
dict_animal_life_span = pd.Series([8,14,25,8,5,120,40,30,19,25], index = ['cat','dog','leopard','goose','rabbit','tortoise','lemur','puma','python','alligator'])

In [15]:
# [PRINTING THE ABOVE SERIES]
print(dict_animal_life_span)

cat            8
dog           14
leopard       25
goose          8
rabbit         5
tortoise     120
lemur         40
puma          30
python        19
alligator     25
dtype: int64

In [16]:
# [PRINT SERIES WITH SCALAR INPUT]
scalar_series = pd.Series(5.,index = ['a','b','c','d','e','f'])
scalar_series

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
f    5.0
dtype: float64

In [17]:
# [PRINTING THE ABOVE SERIES WITH PRINT FUNCTION]
print(scalar_series)

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
f    5.0
dtype: float64

In [18]:
# [ACCESSING ELEMENTS IN A SERIES]
dict_animal_life_span[0]

8

In [19]:
# [ACCESS FIRST 5 ELEMENTS]
dict_animal_life_span[0:5]

cat         8
dog        14
leopard    25
goose       8
rabbit      5
dtype: int64

In [20]:
# [LOOKUP AN ANIMAL BY NAME OR INDEX]
dict_animal_life_span.loc['leopard']

25

In [21]:
# [LOOKUP AN ANIMAL BY POSITION] : Returns value for Rabbit
dict_animal_life_span.iloc[4]

5

In [22]:
# [VECTORIZED OPERATIONS IN SERIES]
first_vector_series = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
second_vector_series = pd.Series([11,22,33,44,55],index = ['a','b','c','d','ee'])

In [23]:
first_vector_series + second_vector_series

a     12.0
b     24.0
c     36.0
d     48.0
e      NaN
ee     NaN
dtype: float64

In [24]:
# [INTRODUCTION TO DATA FRAMES IN PANDAS]

In [25]:
# [DO YOU KNOW THE DEFINITION OF A DATA FRAME?]
user_input = input("Do you know the definition of a Data Frame? (y/n) ")

if user_input == 'y':
    print("that is great")
elif user_input == 'n':
    print("[DATA FRAME] A data frame is a two dimensional labeled data structure with columns of potentially different data types.")

Do you know the definition of a Data Frame? (y/n)  y

that is great

In [30]:
# [CREATE A DATA FRAME USING LISTS]
cricket_world_cup_list = {
    'Host Country':['India','West Indies', 'Australia', 'New Zealand', 'South Africa', 'Pakistan', 'West Indies'],
    'Year':[1979, 1983, 1987, 1991, 1995, 2000, 2004],
    'Winner':['West Indies', 'Australia', 'England', 'Australia', 'India', 'Pakistan', 'South Africa'],
    'RunnerUp':['India', 'Sri Lanka', 'Pakistan', 'West Indies', 'Pakistan', 'England', 'Bangladesh'],
    'Number of Countries':[8,10,12,12,10,11,12]
}

In [31]:
# [PRINTING THE LIST ABOVE]
print(cricket_world_cup_list)

{'Host Country': ['India', 'West Indies', 'Australia', 'New Zealand', 'South Africa', 'Pakistan', 'West Indies'], 'Year': [1979, 1983, 1987, 1991, 1995, 2000, 2004], 'Winner': ['West Indies', 'Australia', 'England', 'Australia', 'India', 'Pakistan', 'South Africa'], 'RunnerUp': ['India', 'Sri Lanka', 'Pakistan', 'West Indies', 'Pakistan', 'England', 'Bangladesh'], 'Number of Countries': [8, 10, 12, 12, 10, 11, 12]}

In [32]:
#[CREATING A DATA FRAME FROM THE ABOVE LIST]
data_frame_cricket_world_cup_data = pd.DataFrame(cricket_world_cup_list)

In [33]:
# [DISPLAYING THE DATA FRAME] - and w
data_frame_cricket_world_cup_data

   Host Country  Year        Winner     RunnerUp  Number of Countries
0         India  1979   West Indies        India                    8
1   West Indies  1983     Australia    Sri Lanka                   10
2     Australia  1987       England     Pakistan                   12
3   New Zealand  1991     Australia  West Indies                   12
4  South Africa  1995         India     Pakistan                   10
5      Pakistan  2000      Pakistan      England                   11
6   West Indies  2004  South Africa   Bangladesh                   12

In [37]:
# [USING THE PRINT FUNCTION TO DISPLAY THE DATA FRAME] - It's not as neat
print(data_frame_cricket_world_cup_data)

   Host Country  Year        Winner     RunnerUp  Number of Countries
0         India  1979   West Indies        India                    8
1   West Indies  1983     Australia    Sri Lanka                   10
2     Australia  1987       England     Pakistan                   12
3   New Zealand  1991     Australia  West Indies                   12
4  South Africa  1995         India     Pakistan                   10
5      Pakistan  2000      Pakistan      England                   11
6   West Indies  2004  South Africa   Bangladesh                   12

In [36]:
data_frame_cricket_world_cup_data.describe()

              Year  Number of Countries
count     7.000000             7.000000
mean   1991.285714            10.714286
std       9.031690             1.496026
min    1979.000000             8.000000
25%    1985.000000            10.000000
50%    1991.000000            11.000000
75%    1997.500000            12.000000
max    2004.000000            12.000000

In [38]:
# [CREATING A ND ARRAY IN NUMPY]
# import numpy as np - is needed. 
np_array = np.array([2020,2019,2018,2017])
dict_ndarray = {'year': np_array}

In [39]:
# [CREATING A DATA FRAME FROM AN NDARRAY]
df_ndarray = pd.DataFrame(dict_ndarray)

In [40]:
# [DISPLAYING OUR DATA FRAME WITHOUT PRINT FUNCTION]
df_ndarray

   year
0  2020
1  2019
2  2018
3  2017

In [41]:
# [CREATING A DATA FRAME FROM ANOTHER DATA FRAME]
df_from_df = pd.DataFrame(data_frame_cricket_world_cup_data)

In [42]:
# [DISPLAYING OUR DATA FRAME MADE FROM DATAFRAME]
df_from_df

   Host Country  Year        Winner     RunnerUp  Number of Countries
0         India  1979   West Indies        India                    8
1   West Indies  1983     Australia    Sri Lanka                   10
2     Australia  1987       England     Pakistan                   12
3   New Zealand  1991     Australia  West Indies                   12
4  South Africa  1995         India     Pakistan                   10
5      Pakistan  2000      Pakistan      England                   11
6   West Indies  2004  South Africa   Bangladesh                   12